[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = DO NOT DELETE BLOG EXAMPLE
[access "refs/*"]
	owner = group user/zoukyle
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/zoukyle
	label-Verified = -1..+1 group user/zoukyle
	push = group user/zoukyle
	read = group user/zoukyle
	rebase = group user/zoukyle
	removeReviewer = group user/zoukyle
	submit = group user/zoukyle
[access "refs/heads/*"]
	create = group user/zoukyle
	push = +force group user/zoukyle
	pushMerge = group user/zoukyle
	read = group user/zoukyle
[access "refs/tags/*"]
	push = group user/zoukyle
	push = +force group user/zoukyle
